{% extends "layouts/base/index.html" %}
{% block body %}
    <div class="p-6 flex flex-col gap-6">
        <h1>
            Welcome <u>{{ page.name }}</u>, Experience the power of Django Frontend Kit
        </h1>
        <div x-data="HomeComponent"
             class="p-6 bg-gray-50 border border-gray-200 rounded-lg flex flex-col gap-4">
            <div>This is rendered using Django Template, powered with Alpine</div>
            <div>
                Current value: <span x-text="index"></span>
            </div>
            <button type="button"
                    @click="increment()"
                    class="px-2 py-1 bg-black rounded-lg text-white cursor-pointer">Increment</button>
        </div>
        <div id="react-app"></div>
        <div id="vue-app"></div>
    </div>
{% endblock body %}
